<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet
      dolorem dicta nulla voluptate est. Sapiente itaque quaerat ut consectetur.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam inventore
        facere, voluptate beatae quam eaque error culpa dolorem possimus.
        Delectus?
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet
      dolorem dicta nulla voluptate est. Sapiente itaque quaerat ut consectetur.
    </p>
  </div>
</section>
